@import "tailwindcss";

@theme {
  --spacing: 0.063rem;
  --color-primary-50: var(--color-teal-50);
  --color-primary-100: var(--color-teal-100);
  --color-primary-200: var(--color-teal-200);
  --color-primary-300: var(--color-teal-300);
  --color-primary-400: var(--color-teal-400);
  --color-primary-500: var(--color-teal-500);
  --color-primary-600: var(--color-teal-600);
  --color-primary-700: var(--color-teal-700);
  --color-primary-800: var(--color-teal-800);
  --color-primary-900: var(--color-teal-900);
  --color-primary-950: var(--color-teal-950);
}

@layer base {
  :root {
    --gradient-angle: 150deg;
    @apply scheme-dark;
  }
  * {
    @apply m-0 p-0 box-border;
    scrollbar-width: thin;
    scrollbar-color: color-mix(
        in oklab,
        var(--color-primary-200) 50%,
        transparent
      )
      color-mix(in oklab, var(--color-primary-100) 5%, transparent);
  }
  html {
    @apply overflow-auto;
  }
  body {
    @apply w-dvw h-dvh overflow-auto scroll-smooth;
    font-family: system-ui, sans-serif;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
  span {
    @apply text-2xs;
  }
  small {
    @apply text-2xs;
  }
  button {
    @apply cursor-pointer;
  }
  dialog {
    @apply text-primary-300;
  }
}

@utility text-size-inherit {
  font-size: inherit;
}

@utility text-2xs {
  font-size: 8px;
  line-height: 10px;
}

@utility last-align-end {
  text-align-last: end;
}

@utility bg-primary-gradient {
  background: linear-gradient(
    var(--gradient-angle),
    rgb(0 48 46),
    rgb(0 48 46),
    rgb(0 8 34),
    rgb(0 8 34),
    rgb(0 48 46),
    rgb(0 11 47)
  );
}

@utility contribution-bg-color-0 {
  @apply bg-primary-900;
}
@utility contribution-bg-color-1 {
  @apply bg-primary-600;
}
@utility contribution-bg-color-2 {
  @apply bg-primary-500;
}
@utility contribution-bg-color-3 {
  @apply bg-primary-400;
}
@utility contribution-bg-color-4 {
  @apply bg-primary-300;
}

@utility scrollbar-hidden {
  /* For WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
  /* For Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}

@utility popover-scale-animation {
  @apply scale-0 transition-all transition-discrete ease-out duration-100;

  &:popover-open {
    @apply scale-100;

    @starting-style {
      @apply scale-0;
    }
  }
}
